APP_NAME="Sam AI"
HOST=0.0.0.0
PORT=8000
DEBUG=True

# MongoDB Configuration (MongoDB Atlas or self-hosted)
# Option 1: Full Connection URI
MONGO_URI=mongodb+srv://<db_username>:<db_password>@ai-data.jkjhbcq.mongodb.net/?retryWrites=true&w=majority

# Option 2: Individual variables (used if MONGO_URI is not provided)
MONGO_HOST=ai-data.jkjhbcq.mongodb.net
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DB_NAME=sam_ai_db
MONGO_IS_SRV=True
